.hero {
	display: flex;
	width: 100vw;
	height: 400px; /* Adjust height as needed */
	justify-content: center; /* Use justify-content instead of justify-items */
	align-items: center;
}

img {
	height: 100%;
	width: 200px;
	object-fit: cover;
}

button {
	padding: 10px;
	background-color: red;
	color: white;
	border: solid black; /* Separate border property */
	border-radius: 5px; /* Correctly placed */
	align-self: center;
}

.first {
	margin-left: 50px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}